* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} 
html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    
  }
  body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 50em; /*was 38*/
    margin: auto;
    color: #000000;
    background-color: #FFFFFF;
    /*padding: 10px;
    /*background: url('../blob/blobgreen.svg');
    height:3000px;*/
    column-width: 50%;
    text-align: left;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
  @media (max-width: 684px) {
    body {
      font-size: 1.53rem;
      margin-left:20%;
      margin-right:20%
    }
  }
  @media (max-width: 382px) {
    body {
      font-size: 1.35rem;
      margin-left:5%;
      margin-right:5%;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    position: relative;
    z-index: 2;
  }
  h1 {
    font-size: 2.35em;
    /*margin-bottom: 2em;*/
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1em;
  }
  .intro{
    font-size: 1.25em;
    margin-bottom: 7em;
  }
  p {
    font-family: 'Nunito', sans-serif;
    margin-top: -1em;
  }

  #titlehead {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  #quotetext {
    font-size: 2.80em;
    margin-bottom: 0.5em;
  }
  #blob {
    position: absolute;
    top: -45%;
    z-index: 1;
  }
  #title {
    position: relative;
    z-index: 2;
  }
.sign-up-form {
  width: 300px;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}
.input-box {
  border-radius:25px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  outline: none;
}
.menu {
  color: inherit;

}
img {
  width:100%;
}
#selection{
  margin-top: 15%;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item {
  padding: 0px;

}
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}

.button {
    border-style:solid;
    border-color:4a4a4a;
    border-width: 5px;
    color: 4a4a4a;
    padding: 15px 32px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    box-shadow:0
}
.formButton {
    background-color:#F74C26;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius:25px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: desfult;
    font-family: 'Nunito', sans-serif;
}

.contact-btn{
  color: #4a4a4a;
  opacity: 0.6;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}
.contact-btn:hover {opacity: 1;}
